$color-dark: #1b1b1b;
$color-gray: #878787;
$color-light: #f1ffff;
$theme-button-color: #333333;

$delimiter-color: #1b1b1b;

$border-blocks: 2px solid $delimiter-color;
$border-blocks3: 3px solid $delimiter-color;
