.game-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.fild-layout {
  display: flex;
}

.five-blocks {
  display: grid;
  grid-template-columns: 31px 31px 31px 31px 31px;
  grid-template-rows: 31px 31px 31px 31px 31px;
  justify-content: center;
  @media (max-width: 880px) {
    grid-template-columns: 26px 26px 26px 26px 26px;
    grid-template-rows: 26px 26px 26px 26px 26px;
  }
}

.ten-blocks {
  display: grid;
  grid-template-columns: 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px;
  grid-template-rows: 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px;
  justify-content: center;
  @media (max-width: 880px) {
    grid-template-columns: 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px;
    grid-template-rows: 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px;
  }
}

.fifteen-blocks {
  display: grid;
  grid-template-columns: 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px;
  grid-template-rows: 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px 31px;
  justify-content: center;
  @media (max-width: 880px) {
    grid-template-columns: 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px;
    grid-template-rows: 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px;
  }
}
