.horizontal-tips {
  display: flex;
  justify-content: flex-end;
  margin-left: 86px;
  border-bottom: 4px solid;
  margin-bottom: 1px;
}

.vertical-tips {
  border-right: 4px solid;
  margin-right: 1px;
}
