.block {
  display: block;
  width: 30px;
  height: 30px;
  background-color: $color-light;
  border: 1px solid $color-dark;
  content: '';
  position: relative;
  box-sizing: border-box;
  transition: all 0.6s;
  @media (max-width: 880px) {
    width: 25px;
    height: 25px;
  }
}

// 5x5

.block5:nth-child(5n) {
  border-right: $border-blocks;
}
.block5:nth-child(5n + 1) {
  border-left: $border-blocks;
}
.block5:nth-child(-n + 5) {
  border-top: $border-blocks;
}
.block5:nth-child(n + 21) {
  border-bottom: $border-blocks;
}

// 10x10
.block10:nth-child(5n) {
  border-right: $border-blocks;
}
.block10:nth-child(5n + 1) {
  border-left: $border-blocks;
}
.block10:nth-child(-n + 10) {
  border-top: $border-blocks;
}
.block10:nth-child(n + 41):nth-child(-n + 50),
.block10:nth-child(n + 91):nth-child(-n + 100) {
  border-bottom: $border-blocks;
  z-index: 2;
}

//15x15

.block15:nth-child(5n) {
  border-right: $border-blocks;
}
.block15:nth-child(5n + 1) {
  border-left: $border-blocks;
}
.block15:nth-child(-n + 15) {
  border-top: $border-blocks;
}
.block15:nth-child(n + 61):nth-child(-n + 75),
.block15:nth-child(n + 136):nth-child(-n + 150),
.block15:nth-child(n + 211):nth-child(-n + 225) {
  border-bottom: $border-blocks;
  z-index: 2;
}
.crossed {
}

.crossed::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 50%;
  rotate: 45deg;
}

.crossed::before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 50%;
  rotate: -45deg;
}

