.theme-button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.dark-button {
}

.light-button {
}

.light-btn-img {
  display: block;
  background: url('./assets/img/ico/theme-light.svg') no-repeat;
  width: 25px;
  height: 25px;
}

.dark-btn-img {
  display: block;
  background: url('./assets/img/ico/theme-dark.svg') no-repeat;
  width: 25px;
  height: 25px;
}

.theme-button_active {
  background-color: $theme-button-color;
}
