.vertical-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 31px;
  background-color: $color-light;
  border: 1px solid $color-dark;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  border-right: none;
  box-sizing: border-box;
  transition: all 0.6s;
  @media (max-width: 880px) {
    height: 26px;
  }
}

.horizontal-tip {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  padding: 0 5px;
  height: 110px;
  background-color: $color-light;
  border: 1px solid $color-dark;
  border-bottom: none;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 800;
  box-sizing: border-box;
  transition: all 0.6s;
  @media (max-width: 880px) {
    width: 26px;
  }
}
